
  <div id="invoice-POS">
    <h2 class="logo"><img src="../../assets/shri-logo-black.png"></h2>
    <div class="address">
      G94 second floor G Block, Sector 63, Noida, Uttar Pradesh 201301
    </div>

<div id="mid">
  <div class="info">
    <p><span>Order #:</span>{{orderData.cust_id}}</p>
    <p><span>Tailor Name:</span>{{orderData.tailor}}</p>
    <p><span>Completion Date:</span>{{orderData.completation_date}}</p>
  </div>
  <div class="info">
    <p><span>Body Fit: </span>{{orderData.fit_size}}</p>
    <p><span>Measurement In: </span>{{orderData.measurement_in}}</p>
    <p><span>Fabric Material: </span>{{orderData.cloth_material}}</p>
    <p><span>Fabric Measurement: </span>{{orderData.cloth_measurement}}</p>
  </div>
  <div class="info"></div>
  <div class="measure-info">
      <p><span>Product Name: </span>{{orderData.category}}</p>
  <div class="measure-data"  *ngFor="let labelData of orderData.measure_data; let i = index">
      <h5><strong>Label : </strong><i>{{labelData.label}}</i></h5>
      <div class="measure-box"  *ngFor="let measure of labelData.measurements">
          <label>{{measure.name}}</label> {{measure.value}}
      </div>
  </div>
  </div>
</div>

      <div id="legalcopy">
        <p class="legal"><strong>Thank you for Your Purchase!</strong></p>
      </div>

</div>

<div class="print-btn">
    <a mat-button color="primary" routerLink="/order-details"
    queryParamsHandling="merge" [queryParams]="{ order: orderData.id }">Back</a>
<button mat-raised-button (click)="print()">Print Invoice</button>
</div>