#invoice-POS {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 0 auto;
  padding-top: 0px;
  width: 300px;
  background: #fff;
  font-size: 12px;
  margin-top: 32px;
  h1 {
    font-size: 14px;
    color: #222;
  }
  h2 {
    font-size: 0.9em;
    margin: 8px 0px;
  }
  h3 {
    // font-size: 1.2em;
    font-weight: 300;
    // line-height: 2em;
  }
  p {
    color: #222;
    text-align: right;
    width: 100%;
    display: inline-block;
    margin: 0;
  }

  #top,
  #mid,
  #bot {
    /* Targets all id with 'col-' */
    border-bottom: 1px solid #eee;
  }

  #top {
    min-height: 100px;
  }
  #mid {
    min-height: 80px;
  }
  #bot {
    min-height: 50px;
  }

  #top .logo {
    //float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
    background-size: 60px 60px;
  }
  .clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
  }
  .info {
    display: block;
    //float:left;
    margin-left: 0;
  }
  .title {
    float: right;
  }
  .title p {
    text-align: right;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td {
    padding: 5px;
    //border: 1px solid #EEE
  }
  .tabletitle {
    //padding: 5px;
    // font-size: .5em;
    background: #eee;
  }
  .service {
    border-bottom: 1px solid #eee;
  }
  .item {
    width: 24mm;
  }
  //   .itemtext{font-size: .5em;}

  #legalcopy {
    margin-top: 5mm;
  }
}

table {
  text-align: right;
}
.logo {
  margin: 0;
  text-align: center;
  img {
    height: 72px;
  }
}
.info {
  border-top: 1px solid #eee;
  span {
    font-weight: 600;
    padding-right: 8px;
    float: left;
  }
}
.legal {
  text-align: center !important;
}

.address {
  text-align: center;
  padding-bottom: 16px;
  width: 80%;
  margin: auto;
}
.print-btn {
  text-align: center;
  padding: 16px;
}
.measure-info {
  padding-left: 20%;
  > p {
    font-size: 14px;
    text-align: left !important;
    font-weight: 600;
  }
  .measure-data {
    border-top: 1px solid #eee;
  }

  .measure-box {
    text-align: right;
    padding-left: 80px;
    label {
      float: left;
      margin: 0;
    }
  }
}

@media print {
  .print-btn {
    display: none !important;
  }
  // #invoice-POS{
  //   width:100%;
  // }
}
