<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Tailor Details </h2>

        <mat-grid-list cols="4" rowHeight="100">
            <mat-grid-tile>
                <label>Tailor Name</label>
                <p>{{tailor.name}}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <label>Phone Number</label>
                <p>{{tailor.phone_number}}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <label>Alternate Number</label>
                <p>{{tailor.alternate_number}}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <label>Address</label>
                <p>{{tailor.address}}</p>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="200">
            <mat-grid-tile>
                <label>Profile</label>
                <p><img src="{{imgUrl}}public/tailor_profile/{{tailor.profile}}"></p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>