<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Add Measurement</h2>
        <form [formGroup]="addMeasurementForm">
            <div class="col1">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder=" Name" name="name"  formControlName="name" >
                    </mat-form-field>
                </div>
            </div>
           
            <div class="form-group">   
                <button mat-raised-button color="primary" (click)="submitdata()">Add Measurement</button>
            </div>
        </form>
    </mat-card>
</div>