.check-box label {
  padding: 8px 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: 0 8px;
  cursor: pointer;
  position: relative;
}
.check-box input:checked + span {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 10px #ff4081;
}
