<div class="main-container">
  <mat-card class="mesure-form">
    <h2 class="main-title">Edit Category</h2>
    <form [formGroup]="editCategoryForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>

      <div formArrayName="categoryArray">
        <fieldset *ngFor="let address of editCategoryForm.controls.categoryArray['controls']; let i = index">
          <div [formGroupName]="i">
            <div class="form-group">
              <!-- {{categoryArray | json}} -->
              <mat-form-field>
                <input matInput placeholder="Label" formControlName="label" required>
              </mat-form-field>
              <input type="hidden" formControlName="id">
              <br />
              <div class="check-box">
                <label *ngFor="let data of measurementData">
                    <input type="checkbox" (change)="onChange(i,data.id,data.name, $event.target.checked)"
                    [checked]="inputChecked(i,data)"> {{data.name}}
                    <span></span>
                </label>
              </div>
              <!-- <div class="col-sm-1">
                <button mat-mini-fab color="warn" *ngIf="editCategoryForm.controls.categoryArray['controls'].length > 1"
                  title="Remove Fields" (click)="removeLair(i)">x</button>
              </div> -->

            </div>
          </div>
        </fieldset>
        <br />
        <!-- <div class="form-group">
          <button mat-raised-button color="accent" (click)="addNew()">Add Measurement</button>
        </div> -->
        <div class="form-group">
          <button style="float: right;margin: 29px;" mat-raised-button color="primary"
            (click)="submitdata()">Submit</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>