<div class="main-container">
  <mat-card class="mesure-form">
      <!-- {{orderForm.value|json}} -->
    <h2 class="main-title">Fabric Photo <button mat-raised-button routerLink="/list-order" >Upload Later</button></h2>
<form>
  <mat-grid-list cols="2" rowHeight="100" #grid>
    <mat-grid-tile>
      <label>Fabric Photo</label>
      <input type="file" placeholder="Febric Photo" (change)="febricPhoto($event)">
    </mat-grid-tile>
    <mat-grid-tile>
        <label>Design Photo</label>
      <input type="file" placeholder="Design Photo" (change)="designPhoto($event)">
    </mat-grid-tile>
  </mat-grid-list>
  <div class="submit-btn">
    <button mat-raised-button color="primary"  (click)="submitMedia();">Upload Images</button>
  </div>
</form>
</mat-card>
</div>