<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Add Tailor</h2>

        <form [formGroup]="addTailorForm">
          <div class="col1">
              <div class="form-group">
                  <mat-form-field>
                      <input matInput name="name" placeholder="Name"  formControlName="name" >
                  </mat-form-field>
              </div>
          </div>

          <div  class="col2">      
              <div class="form-group">
                  <mat-form-field>
                    <input matInput name="phone_number" placeholder="Contact Number" formControlName="phone_number" >
                  </mat-form-field>
              </div>
          </div> 

          <div class="col2">      
              <div class="form-group">
                  <mat-form-field>
                      <input matInput name="alternate_number" placeholder="Alternate Number"  formControlName="alternate_number" >
                  </mat-form-field>
              </div>
          </div>

          <div class="col2">      
              <div class="form-group">
                  <mat-form-field>
                      <input matInput name="address" placeholder="Address" formControlName="address" >
                  </mat-form-field>
              </div>
          </div>


          <div class="col2">
            <div class="form-group">
                <input type="file" formControlName="profile" (change)="onSelectFile($event)">
            </div>
          </div>
          

          <div class="form-group">
              <button  mat-raised-button color="primary" (click)="submitdata()">Add Tailor</button>
          </div>
      </form>
    </mat-card>
</div>