<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Add Tailor</h2>

        <form [formGroup]="addTailorForm">
          <div class="col1">
              <div class="form-group">
                  <mat-form-field>
                      <input matInput placeholder="Name" name="name"  formControlName="name" >
                  </mat-form-field>
              </div>
          </div>

          <div  class="col2">      
              <div class="form-group">
                  <mat-form-field>
                    <input matInput placeholder="Contact Number" name="phone_number" formControlName="phone_number" >
                  </mat-form-field>
              </div>
          </div> 

          <div class="col2">      
              <div class="form-group">
                  <mat-form-field>
                      <input matInput placeholder="Alternate Number" name="alternate_number"  formControlName="alternate_number" >
                  </mat-form-field>
              </div>
          </div>

          <div class="col2">      
              <div class="form-group">
                  <mat-form-field>
                      <input matInput placeholder="Address" name="address" formControlName="address" >
                  </mat-form-field>
              </div>
          </div>


          <div class="col2">
            <div class="form-group">
                <input type="file" name="profile" (change) = "onSelectFile($event)">
            </div>
          </div>
          

          <div class="form-group">
              <button  mat-raised-button color="primary" (click)="submitdata()">Add Tailor</button>
          </div>
      </form>
    </mat-card>
</div>