<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Edit Fit Details</h2>
	    <form [formGroup]="EditFitForm">
	        <mat-grid-list #grid cols="3" rowHeight="80">
	          <mat-grid-tile>
	            <mat-form-field class="example-full-width">
	           		<input matInput placeholder="Name" formControlName="name" >
	            </mat-form-field>
	          </mat-grid-tile>
	        </mat-grid-list>

	        <div class="submit-btn">
	          <button mat-raised-button color="primary" (click)="submitData();">Update</button>
	        </div>
	    </form>
    </mat-card>
</div>

