@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}
.sign-up {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.sign-up a {
  color: #2196f3;
}
