<div class="main-container">
  <mat-card class="mesure-form">
    <h2 class="main-title">Add Fit</h2>
    <form [formGroup]="addFitForm">
       <div class="col1">
          <div class="form-group">
              <mat-form-field>
                  <input matInput placeholder="Name" name="name"  formControlName="name" >
              </mat-form-field>
          </div>
        </div>
         
        <div class="form-group">  
            <button mat-raised-button color="primary" (click)="submitdata()">Add fit</button>       
       </div>
    </form>
  </mat-card>
</div>