<div class="main-container">
  <mat-card>
    <h2 class="main-title">Category <button class="pull-right" mat-raised-button routerLink="/add-category">Add
        New</button></h2>
    <div class="main-cat row">
      <div class="category-listing" *ngFor="let data of categoryData;  let i=index;">
        <h3>
          <strong>{{i+1}}.</strong> {{data.name}}
          <a (click)="delete(data.id)" title="Remove" class="pull-right delete-btn"><i
              class="material-icons">delete</i></a>
  
          <a routerLink="/edit-category"
          queryParamsHandling="merge" [queryParams]="{ category: data.cat_id }" title="Edit" class="pull-right edit-btn"><i class="material-icons">create</i></a>
        </h3>
        <div *ngFor="let mdata of data.measurement">
          <h4><span>Label :</span>{{mdata.label}}</h4>
          <span *ngFor="let madata of mdata.measurements">{{madata.name}}, </span>
        </div>
      </div>
    </div>



  </mat-card>
</div>