.category-listing {
  display: inline-block;
  width: 100%;
  float: left;
  font-size: 16px;
  border: 1px solid #eee;
  margin: 16px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  h3 {
    background: #eee;
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    strong {
      font-weight: normal;
    }
  }
  h4 {
    margin: 8px 0px;
    font-style: italic;
    font-size: 16px;
    color: #ff4081;

    span {
      font-weight: 600;
    }
  }
  div {
    padding: 5px;
    width: 50%;
    float: left;
    > span {
      padding: 5px;
      background: #eee;
      border-radius: 3px;
      margin-right: 5px;
    }
  }
}
.main-cat {
  display: inline-block;
  width: 100%;
}
