/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.mat-sidenav-content .mat-toolbar-single-row {
  display: none;
}
.mat-toolbar.mat-primary {
  background: transparent;
  color: #444;
}
.mat-drawer-container {
  background: #eee;
  font-size: 14px;
}
