table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 3px 3px #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.measure-box {
  display: inline-block;
  width: 100%;
}
.box1,
.box2 {
  display: inline-block;
  float: left;
}
.box1 {
  width: 40%;
}
.box2 {
  width: 60%;
  text-align: center;
}
img {
  max-width: 100%;
  max-height: 500px;
}
