<div class="main-container">
    <mat-card>
            <h2 class="main-title">Measure List <button mat-raised-button routerLink="/add-measurement" >Add New</button></h2>
        <div class="measure-box">
            <div class="box1">
                <table class="data-list">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Name</th>
                            <th>Action</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of measurementData;  let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.name}}</td>
                            <td><a (click)="delete(data.id)" title="Remove" class="pull-right delete-btn"><i class="material-icons">delete</i></a></td>
                          </tr>
                    </tbody>
                   
                  </table>
            </div>
            <div class="box2">
                <img src="../../assets/Size_chart.png">
            </div>
        </div>
    </mat-card>
</div>