@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 3px 3px #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

// tr:nth-child(even) {
//     background-color: #dddddd;
// }

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
}
.startustxt {
  font-size: 14px;
  padding-left: 16px;
  font-style: italic;
}
