<div class="main-container">
    <mat-card>
        <h2 class="main-title">Orders </h2>
<div *ngIf="listComponentFlag">

        <mat-grid-list cols="1" rowHeight="80" #grid>
            <mat-grid-tile>
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        


  <div class="mat-elevation-z8 order-table" >
    <table mat-table [dataSource]="orderData" matSort>

      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row;"><input type="checkbox" name="chk_selection" value="{{row.id}}" (click)="chkSelection($event)"></td>
      </ng-container>


      <!-- <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.NO </th>
        <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
      </ng-container> -->

      <!-- Order Id Column -->
        <ng-container matColumnDef="Order_Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
          <td mat-cell *matCellDef="let row"> {{row.cust_id}} </td>
        </ng-container>
        <ng-container matColumnDef="Customer_Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Phone</th>
          <td mat-cell *matCellDef="let row"> {{row.phone_no}} </td>
        </ng-container>
        <ng-container matColumnDef="Tailor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tailor</th>
          <td mat-cell *matCellDef="let row"> {{row.tailor}} </td>
        </ng-container>
        <ng-container matColumnDef="taken_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Taken By</th>
            <td mat-cell *matCellDef="let row"> {{row.order_taken_by}} </td>
          </ng-container>
        <ng-container matColumnDef="Product_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row"> {{row.order_status}} </td>
        </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row"> <a routerLink="/order-details"
          queryParamsHandling="merge" [queryParams]="{ order: row.id }" title="View" class="pull-left view-btn"><i class="material-icons">visibility</i></a>
        <a routerLink="/edit-order"
        queryParamsHandling="merge" [queryParams]="{ order: row.id }" title="Edit" class="pull-center edit-btn"><i class="material-icons">edit</i></a>
        <a (click)="deleteOrder(row.id)" title="Remove" class="pull-right delete-btn"><i class="material-icons">delete</i></a> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    <p class="startustxt">**Select Checkbox & Update Status</p>
    <mat-grid-list cols="2" rowHeight="80" #grid>
        <mat-grid-tile>
          <mat-form-field style="width:100%;"> 
            <mat-select placeholder="Update Status" name="order_status" (selectionChange)="onChangeStatus($event)" >
              <mat-option *ngFor="let data of OrderStatus" [value]="data.value" >
                {{ data.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
  </div>


  
</div>
</mat-card>
          
</div>


