<div class="container">
    <mat-card>
        <form [formGroup]="selectionForm">
          <div class="form-group measure-form">
           <p>Enter Your Measurement</p> <mat-radio-group name="measure_type" formControlName="measure_type" [(ngModel)]="measure_type"  >
                  <mat-radio-button class="col-sm-3 activity-btn" *ngFor="let activity of measure; let i = index" [value]="activity.value" [checked]="i === 0">
                        {{activity.viewvalue}}
                  </mat-radio-button>
            </mat-radio-group>
          </div>
            <h4>Jacket</h4>
 <div class="grid-data">

    <mat-grid-list cols="6" rowHeight="2:1">
           <mat-grid-tile>
             <div class="form-group">
                <label>Chest</label>
                <input type="text" formControlName="chest" class="form-control" required />
                <label>{{measure_type}}</label>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                    <label>Stomach</label>
                    <input type="text" formControlName="stomach" class="form-control"  />
                    <label>{{measure_type}}</label>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                    <label>Hip</label>
                    <input type="text" formControlName="hip" class="form-control"  />
                    <label>{{measure_type}}</label>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                    <label>Shoulder</label>
                    <input type="text" formControlName="shoulder" class="form-control"  />
                    <label>{{measure_type}}</label>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                    <label>Sleeve</label>
                    <input type="text" formControlName="sleeve" class="form-control"  />
                    <label>{{measure_type}}</label>
              </div>
            </mat-grid-tile>
            <mat-grid-tile> 
                <div class="form-group">
                  <label>Length</label>
                  <input type="text" formControlName="length" class="form-control"  />
                  <label>{{measure_type}}</label>
                </div>
            </mat-grid-tile>
            
            </mat-grid-list>
           
            <h4>Pant</h4>
            <mat-grid-list cols="6" rowHeight="2:1">
               
                <mat-grid-tile>
                 <div class="form-group">
                   <label>Waist</label>
                  <input type="text" formControlName="waist" class="form-control"  />
                  <label>{{measure_type}}</label>
                 </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="form-group">
                      <label>Hip</label>
                      <input type="text" formControlName="hip" class="form-control"  />
                      <label>{{measure_type}}</label>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form-group">
                        <label>Crotch</label>
                        <input type="text" formControlName="crotch" class="form-control"  />
                        <label>{{measure_type}}</label>
                      </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form-group">
                        <label>Thigh</label>
                        <input type="text" formControlName="thigh" class="form-control"  />
                        <label>{{measure_type}}</label>
                      </div>
                </mat-grid-tile>
               
                <mat-grid-tile> 
                  <div class="form-group">
                    <label>Length</label>
                    <input type="text" formControlName="length" class="form-control"  />
                    <label>{{measure_type}}</label>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
               
    </mat-grid-list>
    <p>Select Your Fit </p>
    <mat-radio-group name="fit" formControlName="fit" [(ngModel)]="fit"  >
        <mat-radio-button class="col-sm-3 activity-btn" *ngFor="let activity of Fit; let i = index" [value]="activity.value">
              {{activity.viewvalue}}
        </mat-radio-button>
  </mat-radio-group>
    </div>   
      <br/>
     <br/>
              <div class="form-group">
                  
                <button  mat-raised-button color="primary" (click)="submitdata()">Place Order</button>
                          
                </div>
            </form>
          <!-- <p> {{ selectionForm.value|json }}</p>  -->
    </mat-card>
</div>