.measure-form .form-group {
  // margin: 30px;
}
label {
  // margin-left: 30px;
  text-align: center;
  font-size: 13px;
}
.form-control {
  width: 90%;
  height: 30px;
}
.mat-radio-button {
  margin-left: 10px;
}
.form-group {
  width: 70%;
  padding: 5px;
}
.grid-data {
  width: 75%;
}
