<div class="main-container">
  <mat-card class="mesure-form">
    <h2 class="main-title">Edit Order</h2>
    <form [formGroup]="EditOrderForm">

      <mat-grid-list #grid cols="2" rowHeight="80">
          <mat-grid-tile>
            <!-- <label>Customer Name</label>
            <p class="takenby">{{details.customer_name}}</p> -->
            <mat-form-field class="disabled">   
            <input matInput placeholder="Customer Name" name="customer_name" formControlName="customer_name" readonly>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <!-- <label>Phone Number</label>
            <p class="takenby">{{details.customer_phone_number}}</p> -->
            <mat-form-field class="disabled"> 
            <input matInput placeholder="Customer Phone number" formControlName="customer_phone_number" readonly>
            <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list #grid cols="2" rowHeight="80">
      <mat-grid-tile>
          <!-- <label>Customer Name</label>
            <p class="takenby">{{details.customer_phone_number}}</p> -->
            <mat-form-field class="disabled"> 
                  <input matInput placeholder="Order taken by" name="order_taken_by" formControlName="order_taken_by" readonly>
              </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field> 
                <mat-select placeholder="Select Tailor" name="tailor" formControlName="tailor" >
                  <mat-option *ngFor="let data of tailorData" (onSelectChange)="tailorOnSelect(data._id)" [value]="data.name">
                    {{data.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            
      </mat-grid-list>

      <mat-grid-list #grid cols="2" rowHeight="80">
        <mat-grid-tile>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerDate" [min]="minDate" placeholder="Order Date" formControlName="order_date" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
              <input matInput [matDatepicker]="picker" name="completion_date" placeholder="Choose a Completion Date" formControlName="completion_date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    



      <mat-grid-list cols="3" rowHeight="80" #grid>
            <mat-grid-tile>
              <mat-form-field>
              <input matInput placeholder="Price" name="price"  formControlName="price" (focusout)="PriceFunction($event)">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Advance" name="advance" formControlName="advance" (keyup)="advancePriceFunction($event)" >
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Balance" name="balance"  formControlName="balance" >
                </mat-form-field>
              </mat-grid-tile>
      </mat-grid-list>


      <mat-grid-list cols="3" rowHeight="80" #grid>
          <mat-grid-tile>
              <label>Measurement In</label>
              <mat-radio-group formControlName="measurement_type">
                <mat-radio-button *ngFor="let data of measurementType; let i = index" [value]="data.value"> {{data.value}}
                </mat-radio-button>
              </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile>
              <label>Fit Size</label>
              <mat-radio-group class="fit-type" name="fit_type" formControlName="fit_type" > 
                  <mat-radio-button *ngFor="let data of fitData; let i = index" [value]="data.name" >
                      {{data.name}}
                  </mat-radio-button>
                </mat-radio-group>
              
          </mat-grid-tile>
          <mat-grid-tile>
              <label>Fabric Material</label>
            <mat-radio-group formControlName="cloth_material" [(ngModel)]="cloth_material">
              <mat-radio-button *ngFor="let data of fabricMaterial; let i = index" [value]="data.value" [checked]=""> {{data.value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
      </mat-grid-list>



      <div *ngIf="cloth_material === 'Provided'">
        <mat-grid-list cols="3" rowHeight="80" #grid >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field >
              <input matInput placeholder="Fabric Measurements" name="cloth_measurements"  formControlName="cloth_measurements" >
          </mat-form-field>
      </mat-grid-tile>
      </mat-grid-list>
      </div>
<!-- <mat-form-field>
                  <input matInput placeholder="Cloth Measurements" name="cloth_measurements"  formControlName="cloth_measurements" >
              </mat-form-field> -->
      <!-- <mat-form-field style="width:100%;"> 
                <mat-select placeholder="Select Category" disabled  name="name" formControlName="category" >
                  <mat-option *ngFor="let data of categoryData" (onSelectionChange)="categoryOnSelect(data.id)" [value]="data.id">
                    {{data.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->


      <div class="category-data">
        <h3>Product Name : {{details.category}}</h3>
        <div class="grid-data" *ngFor="let item of details.measure_data let pointIndex=index">
          <mat-grid-list cols="7" rowHeight="4:3">
            <p class="sub-category"><b>{{item.label}}</b></p>
            <div >
              <mat-grid-tile *ngFor="let key of item.measurements">
                <div class="form-group measure-field" >
                  <label>{{key.name}}</label>
                  <!-- <input class="form-control" value={{key.value}}> -->
                  <input class="form-control" [placeholder]="key.value" [(ngModel)]="key.value"
                    [ngModelOptions]="{standalone: true}" required>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>
      </div>

      <mat-grid-list cols="1" rowHeight="100">
          <mat-grid-tile><br><br>
            <mat-form-field style="width:100%;">
                <textarea matInput placeholder="Remarks" name="remarks"  formControlName="remarks" style="width:100%;" ></textarea>
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>

 <!--     <mat-grid-tile>
            <mat-form-field style="width:100%;"> 
              <mat-select placeholder="Select OrderStatus" name="order_status" formControlName="order_status" >
                <mat-option *ngFor="let data of OrderStatus" [value]="data.value">
                  {{data.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile> -->

        

      <div class="submit-btn">
          <button mat-raised-button color="primary"  (click)="submitData();">Update Order</button>
      </div>
    </form>
    <form class="media-form">
      <mat-grid-list cols="2" rowHeight="300" #grid>
        <mat-grid-tile>
          <label>Fabric Photo</label>
          <p class="img"><img src="{{imgUrl}}public/ferbic_images/{{details.fabric_photo}}"></p>
          <input type="file" placeholder="Febric Photo" (change)="febricPhoto($event)">
        </mat-grid-tile>
        <mat-grid-tile>
            <label>Design Photo</label>
            <p class="img"><img src="{{imgUrl}}public/design_images/{{details.design_photo}}"></p>
          <input type="file" placeholder="Design Photo" (change)="designPhoto($event)">
        </mat-grid-tile>
      </mat-grid-list>
      <div class="submit-btn">
        <button mat-raised-button color="primary"  (click)="submitMedia();">Update Images</button>
      </div>
    </form>
  </mat-card>
</div>

