.form-control {
  border: 0px solid #ccc;
}
p.img {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background: #e2e3eb;
}
img {
  border: 1px solid #ddd;
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  margin-bottom: 30px;
}
label {
  width: 100%;
}
.disabled {
  pointer-events: unset;
}
