<div class="main-container">
  <mat-card>
        <h2 class="main-title">Tailor List <button mat-raised-button routerLink="/add-tailor" >Add New</button></h2>
        <div *ngIf="listComponentFlag">
        <mat-grid-list cols="1" rowHeight="80" #grid>
          <mat-grid-tile>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>

        <div class="order-table">
          <table mat-table [dataSource]="tailor" matSort>
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S.NO </th>
              <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
              <td mat-cell *matCellDef="let row"> {{row.phone_number}} </td>
            </ng-container>
            <ng-container matColumnDef="alt_phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alt Number</th>
              <td mat-cell *matCellDef="let row"> {{row.alternate_number}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
              <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row"> 
              <a routerLink="/edit-tailor"
                      queryParamsHandling="merge" [queryParams]="{ tailor: row.id }" title="Edit" class="pull-left edit-btn"><i class="material-icons">edit</i></a>

                      <a routerLink="/tailor-profile"
          queryParamsHandling="merge" [queryParams]="{ profile: row.id }" title="View" class="pull-left view-btn"><i class="material-icons">visibility</i></a>

                      <a (click)="delete(row.id)" title="Remove" class="pull-right delete-btn"><i class="material-icons">delete</i></a>
                      
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
      
      </div>
<!--       
        <table class="data-list">
          <thead>
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Alternate Number</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of tailor;  let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.phone_number}}</td>
                  <td>{{data.alternate_number}}</td>
                  <td>{{data.address}}</td>
                  <td>
                      <a routerLink="/edit-tailor"
                      queryParamsHandling="merge" [queryParams]="{ tailor: data.id }" title="Edit" class="pull-left edit-btn"><i class="material-icons">edit</i></a>

                      <a routerLink="/tailor-profile"
          queryParamsHandling="merge" [queryParams]="{ profile: data.id }" title="View" class="pull-left view-btn"><i class="material-icons">visibility</i></a>

                      <a (click)="delete(data.id)" title="Remove" class="pull-right delete-btn"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
          </tbody>    
        </table> -->
    </mat-card>
    </div>