
<div class="container measure-page">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
      <a routerLink="/measurements">
                <mat-card>
                    <div class="text-center">
                      <h2>Body Size</h2>
                      <p>Part of the tailor-made experience is getting yourself measured up. With the assistance of our easy-to-follow video measuring guide, get yourself measured up in no time!</p>
                      <img src="/assets/Measurement.png">
                    </div>
                </mat-card>
              </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="">
        <mat-card>
            <div class="text-center">
                <h2>Standard Size</h2>
                <p>Standard sizes provide an equally amazing fit. Select from an array of sizes from our standard size chart. Enjoy your Tailor-made product with the perfect combination of the right size and your creative style choices!</p>
                <img src="/assets/SML.png">
            </div>
        </mat-card>
    </a>
    </mat-grid-tile>
  </mat-grid-list>
    </mat-card-content>
</div>