
  <div id="invoice-POS">
          <h2 class="logo"><img src="../../assets/shri-logo-black.png"></h2>
          <div class="address">
            G94 second floor G Block, Sector 63, Noida, Uttar Pradesh 201301
          </div>
      {{orders | json}}
      <div id="mid">
        <div class="info">
          <p><span>Order #:</span>{{orderData.cust_id}}</p>
          <p><span>Order Date:</span>{{orderData.order_date}}</p>
          <p><span>Completion Date:</span>{{orderData.completation_date}}</p>
        </div>
        <div class="info">
          <p><span>Customer Name: </span>{{orderData.user_name}}</p>
          <p><span>Phone: </span>{{orderData.phone_no}}</p>
        </div>
      </div><!--End Invoice Mid-->
      
      <div id="bot">
  
            <div id="table">
              <table>
                <tr class="tabletitle">
                  <td class="item"><h2>Item</h2></td>
                  <td class="Rate"><h2>Sub Total</h2></td>
                </tr>
  
                <tr class="service">
                  <td class="tableitem"><p class="itemtext">{{orderData.category}}</p></td>
                  <td class="tableitem"><p class="itemtext">₹{{orderData.price}}</p></td>
                </tr>
  
                <tr class="service">
                  <td class="tableitem"><p class="itemtext">Advance</p></td>
                  <td class="tableitem"><p class="itemtext">₹{{orderData.advance}}</p></td>
                </tr>
  
                <!-- <tr class="service">
                  <td class="tableitem"><p class="itemtext">Balance</p></td>
                  <td class="tableitem"><p class="itemtext">₹{{orderData.balance}}</p></td>
                </tr> -->
    
                <!-- <tr class="tabletitle">
                  <td class="Rate"><h2>Tax 5%</h2></td>
                  <td class="payment"><h2>₹{{orderData}}</h2></td>
                </tr>
   -->
                <tr class="tabletitle">
                  <td class="Rate"><h2>Balance</h2></td>
                  <td class="payment"><h2>₹{{orderData.balance}}</h2></td>
                </tr>
  
              </table>
            </div><!--End Table-->
  
            <div id="legalcopy">
              <p class="legal"><strong>Thank you for Your Purchase!</strong></p>
            </div>
  
          </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
  
    <div class="print-btn">
        <a mat-button color="primary" routerLink="/order-details"
        queryParamsHandling="merge" [queryParams]="{ order: orderData.id }">Back</a>
      <button mat-raised-button (click)="print()">Print Invoice</button>
    </div>