h2 {
  margin: 0px;
}
label {
  width: 100%;
  display: inline-block;
  padding: 0px 10px;
}
.form-control {
  border: 0px solid #ccc;
}
.hidden {
  display: none;
}
.username {
  padding: 10px;
}

.disabled {
  pointer-events: unset;
}
@media (max-width: 767px) {
  .measurein {
    height: 200px !important;
  }
  .measurein mat-grid-tile {
    width: 100% !important;
    position: relative;
    left: 0 !important;
    height: 60px !important;
  }
  .measurein .mat-figure {
    position: initial;
  }
  .catedata mat-grid-tile {
    width: calc(100% / 3) !important;
    left: 0 !important;
    position: relative;
    float: left;
    display: inline-block;
  }
  .catedata {
    height: auto !important;
  }
}
