<div class="main-container">
    <mat-card class="mesure-form">
      <h2 class="main-title">Place Order</h2>
      <form [formGroup]="orderForm">
        <mat-grid-list #grid cols="2" rowHeight="80">
            <mat-grid-tile>
              <mat-form-field>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput placeholder="Customer Phone number" formControlName="customer_phone_number" (keyup) = getUser($event) required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Customer Name" name="customer_name"  formControlName="customer_name" >
              </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list #grid cols="2" rowHeight="80">
          <mat-grid-tile>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerDate" [min]="minDate" placeholder="Order Date" formControlName="order_date" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Order Completion Date" formControlName="completion_date" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list #grid cols="2" rowHeight="80">
          <mat-grid-tile>
              <!-- <label>Order Taken By</label>
              <p class="username">{{userName}}</p> -->
              <mat-form-field class="disabled">
                  <input matInput placeholder="Order taken by" formControlName="order_taken_by" readonly>
              </mat-form-field>
            </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field> 
            <mat-select placeholder="Select Tailor"  name="tailor" formControlName="tailor" >
              <mat-option *ngFor="let data of tailorData" [value]="data.name">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
  
        <mat-grid-list #grid cols="3" rowHeight="80">
              <mat-grid-tile>
                <mat-form-field>
                <input matInput placeholder="Price" name="price"  formControlName="price" (focusout)="PriceFunction($event)">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Advance" name="advance" formControlName="advance" (keyup)="advancePriceFunction($event)">
                </mat-form-field>
            </mat-grid-tile>
  
            <mat-grid-tile>
                <mat-form-field>
                    <input matInput placeholder="Balance" name="balance"  formControlName="balance">
                </mat-form-field>
              </mat-grid-tile>
        </mat-grid-list>
  
        <mat-grid-list #grid cols="3" rowHeight="80" class="measurein">
          <mat-grid-tile>
            <label>Measurement In</label>
            <mat-radio-group formControlName="measurement_type">
              <mat-radio-button *ngFor="let data of measurementType; let i = index" [value]="data.value" [checked]="" > {{data.value}}
              </mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Fit Size</label>
          <mat-radio-group class="fit-type" name="fit_type" formControlName="fit_type" > 
              <mat-radio-button *ngFor="let data of fitData; let i = index" [value]="data.name" [checked]="">
                  {{data.name}}
              </mat-radio-button>
          </mat-radio-group>
        </mat-grid-tile>
          <mat-grid-tile>
              <label>Fabric Material</label>
            <mat-radio-group formControlName="cloth_material" [(ngModel)]="cloth_material">
              <mat-radio-button *ngFor="let data of fabricMaterial; let i = index" [value]="data.value" [checked]="i === 1"> {{data.value}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
          

        </mat-grid-list>

        <!-- <mat-grid-list #grid cols="4" rowHeight="80" *ngIf="cloth_material === 'Provided'">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field >
                <input matInput placeholder="Fabric Measurements" name="cloth_measurements"  formControlName="cloth_measurements" >
            </mat-form-field>
        </mat-grid-tile>
        </mat-grid-list> -->


        <mat-grid-list #grid cols="2" rowHeight="100">
            <mat-grid-tile>
                <mat-form-field style="width:100%;"> 
                  <mat-select placeholder="Select Category" name="category"  formControlName="category" >
                    <mat-option *ngFor="let data of categoryData" [value]="data.name" (onSelectionChange)="categoryOnSelect(data.cat_id)">
                      {{data.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile *ngIf="cloth_material === 'Provided'">
                  <mat-form-field >
                      <input matInput placeholder="Fabric Measurements" name="cloth_measurements"  formControlName="cloth_measurements" >
                  </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>
  
        <div class="category-data">
          <div class="grid-data" *ngFor="let item of clickCategoryData let pointIndex=index">
            <p class="sub-category"><b>{{item.label}}</b></p>
            <mat-grid-list cols="7" rowHeight="80" class="catedata">
              <div *ngFor="let key of item.measurements; let i = index">
                <mat-grid-tile>
                  <div class="form-group measure-field">
                    <label>{{key.name}}</label>
                    <input class="form-control" [placeholder]="key.value" [(ngModel)]="key.value"
                      [ngModelOptions]="{standalone: true}" required>
                  </div>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
          </div>
        </div>
  
        <mat-grid-list #grid cols="1" rowHeight="100">
          <mat-grid-tile>
            <mat-form-field style="width:100%;">
                <textarea style="width:100%;" matInput placeholder="Remarks" name="remarks"  formControlName="remarks" ></textarea>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>



        <div class="submit-btn">
        <button mat-raised-button color="primary"  (click)="submitData();">Place Order</button>
        </div>
      </form>
  
      
    
    </mat-card>
  </div>
  
  