table.data-list tr:nth-child(odd) {
  background: #fff;
}

table.data-list tr:nth-child(even) {
  background: #f1f1f1;
}
table.data-list thead tr {
  color: #3f51b5;
}
.mat-grid-tile .mat-figure {
  display: inline-block !important;
}
.pull-right {
  float: right;
  margin-right: 10px;
}
app-root {
  background-color: #eee !important;
}

.pull-left {
  float: left;
  margin-left: 10px;
}

.pull-right {
  float: center;
}
.media-form {
  padding: 16px;
  background: #f1f1f1;
  margin-top: 16px;
}
.delete-btn {
  color: #f44336;
}
.edit-btn {
  color: #4caf50;
}
.main-container {
  padding: 16px;
  background: url(./back.png);
  background-attachment: fixed;
  display: inline-block;
  background-size: 180px;
  width: 100%;
  /* height: 100%; */
}
nav .mat-list-item.active,
nav .mat-list-item:hover {
  background: #fff !important;
  color: #3f51b5 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.5);
}
.main-title {
  background: #3f51b5;
  color: #fff;
  font-size: 24px;
  padding: 8px 50px;
  font-weight: normal;
  margin-bottom: 32px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(63, 81, 181, 0.5);
  position: absolute;
  width: calc(100% - 48px);
  top: -20px;
  height: 52px;
  line-height: 36px;
  text-align: center;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 5px !important;
}
.main-container > .mat-card {
  padding-top: 60px;
  margin-top: 40px;
}

.main-title button {
  float: right;
}
.add-btn {
  text-align: right;
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.form-control {
  width: 90%;
  height: 30px;
}
.mat-radio-button {
  margin-left: 10px;
}
.submit-btn {
  display: block;
  /* padding-top: 30px; */
  text-align: center;
}
mat-card {
  background-color: floralwhite;
}
.mesure-form {
  background: #fff;
}
.mat-drawer-container {
  background: transparent !important;
}
.section-title {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  height: 34px;
  line-height: 34px;
}
mat-grid-tile .measure-field {
  border: 1px solid #cccccc;
  text-align: center;
  margin: 5px;
  background: #eee;
  border-radius: 3px;
}
.measure-block {
  display: inline-block;
}
.mat-grid-tile .mat-figure {
  display: block !important;
}
.category-data {
  box-shadow: inset 0px 0px 5px #ddd;
  background: #f7fafd;
  display: inline-block;
  width: 100%;
}
.category-data .grid-data {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #3f51b5 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(63, 81, 181, 0.5) !important;
}
.mat-sidenav-content .mat-toolbar-single-row {
  display: none !important;
}
.mat-form-field {
  width: 100%;
  padding: 0px 10px;
}
.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
  color: rgb(255, 255, 255) !important;
}
mat-sidenav,
.mat-toolbar.mat-primary,
.mat-menu-panel {
  background: #3f51b5 !important;
}
.mat-toolbar.mat-primary {
  color: #fff !important;
}
.mat-divider {
  border-top-color: rgba(255, 255, 255, 0.12);
}

.col-sm-6 {
  width: calc(100% / 2);
  padding: 16px;
  /* display: inline-block; */
  float: left;
}
.row {
  display: block;
  margin-left: -16px;
  margin-right: -16px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto !important;
}
.mat-toolbar .menu-button {
  float: left;
}
.mat-toolbar > span {
  float: left;
  /* display: inline-block; */
  height: 40px;
  line-height: 40px;
}
table th {
  min-width: 110px;
}

@media (max-width: 1024px) {
  .mat-sidenav-content .mat-toolbar-single-row {
    display: inline-block !important;
  }
  .col-sm-6 .col-sm-6 {
    width: 100% !important;
  }
  .main-title {
    width: calc(100% - 32px);
    text-align: left;
    padding: 8px 15px;
  }
}

@media (max-width: 767px) {
  .order-table {
    width: calc(100vw - 60px);
    overflow-x: scroll;
  }
  .measure-box > div,
  .order-details .col-sm-6 {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .category-listing > div {
    width: 100% !important;
  }
  .main-title {
    width: calc(100% - 32px) !important;
  }
}
