<div class="main-container">
  <mat-card>
      <h2 class="main-title">Fitings <button mat-raised-button routerLink="/add-fit" >Add New</button></h2>
      <div class="measure-box">
        <div class="box1">
          <table class="data-list">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of fitData;  let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{data.name}}</td>
                    <td>
                       <a routerLink="/edit-fit"
                       queryParamsHandling="merge" [queryParams]="{ fit: data.id }" title="Edit" class="pull-left edit-btn"><i class="material-icons">edit</i></a>
                       
                      <a (click)="delete(data._id)" title="Remove" class="pull-right delete-btn"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
            </tbody>
           
          </table>
        </div>
        <div class="box2">
            <img src="../../assets/sl_slimfit.jpg">
        </div>
    </div>
      
      
      



    </mat-card>
    </div>