<div class="main-container">
  <mat-card class="mesure-form">
      <h2 class="main-title">Add Category</h2>
        <form [formGroup]="addCategoryForm" > 
          <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Name"  formControlName="name" >
            </mat-form-field>
          </div>

          <div formArrayName="categoryArray" >  
            <fieldset *ngFor="let address of addCategoryForm.controls.categoryArray['controls']; let i = index" >
                <div [formGroupName]="i" >
                  <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Label" formControlName ="label"  required>
                      </mat-form-field>
                      <br/>

                      <div class="check-box" >
                        <label *ngFor="let data of measurementData">
                            <input type="checkbox" (change)="onChange(i,data,$event.target.checked)"> {{data.name}}
                            <span></span>
                        </label>
                        <!-- <mat-checkbox (change)="onChange(i,data,$event.target.checked)">{{data.name}}</mat-checkbox> -->
                      </div> 

                      <div class="col-sm-1">
                          <button mat-mini-fab color="warn" *ngIf="addCategoryForm.controls.categoryArray['controls'].length > 1" title="Remove Fields" (click)="removeLair(i)">x</button>     
                      </div>
                  </div>
                </div>
            </fieldset> 
            <br/>

            <div class="form-group">
              <button mat-raised-button color="accent" (click)="addNew()">Add Measurement</button>
            </div>


            <div class="form-group">
                  <button style="float: right;margin: 29px;"  mat-raised-button color="primary" (click)="submitdata()">Submit</button>          
             </div> 
          </div>
      </form> 
  </mat-card>    
</div>