<div class="container">
    <mat-card>
        <form [formGroup]="selectionForm">
          <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Size" formControlName ="Size" class="form-control" required>
                  <mat-option *ngFor="let sizetype of size" [value]="sizetype.value">
                    {{sizetype.viewvalue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </form>
    </mat-card>
</div>