<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 ngClass.gt-sm="has-border">
      <mat-toolbar color="primary">
        <!-- <span translate>Shree Creation</span> -->
        <p class="logo"><img src="../../assets/shri-logo.png"></p>
        <div fxFlex></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in as</span>&nbsp;<b>{{name}}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="languageMenu">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/place-order" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Place Order</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/list-order" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Orders</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/list-tailor" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Tailor</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/list-measurement" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Measurement</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/list-category" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Category</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/list-fit" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Fit</span>
          </a>
           <mat-divider></mat-divider>
          <!-- <a mat-list-item routerLink="/measure" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Measurements Testing</span>
          </a>
          <mat-divider></mat-divider> -->
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
