<div class="main-container">
    
        <div class="box">
            <h2><img src="/assets/icon2.png">Order</h2>
            
            <a routerLink="/place-order"  mat-raised-button color="primary">Place Order <i class="material-icons">
                add_circle
                </i></a>
            <a routerLink="/list-order" mat-raised-button color="accent">View Orders <i class="material-icons">
                view_list
                </i></a>
        </div>
  <div class="box">
    <h2><img src="/assets/icon4.png">Tailor</h2>
    
    <a routerLink="/add-tailor"  mat-raised-button color="primary">Add New <i class="material-icons">
        add_circle
        </i></a>
    <a routerLink="/list-tailor" mat-raised-button color="accent">View<i class="material-icons">
        view_list
        </i></a>
  </div>
  <div class="box">
    <h2><img src="/assets/icon1.png">Measurement</h2>
    
    <a routerLink="/add-measurement"  mat-raised-button color="primary">Add New <i class="material-icons">
        add_circle
        </i></a>
    <a routerLink="/list-measurement" mat-raised-button color="accent">View<i class="material-icons">
        view_list
        </i></a>
  </div>
  <div class="box">
    <h2><img src="/assets/icon5.png">Category</h2>
    
    <a routerLink="/add-category"  mat-raised-button color="primary">Add New <i class="material-icons">
        add_circle
        </i></a>
    <a routerLink="/list-category" mat-raised-button color="accent">View<i class="material-icons">
        view_list
        </i></a>
  </div>
  <div class="box">
    <h2><img src="/assets/icon3.png">Body Fit</h2>
    
    <a routerLink="/add-fit"  mat-raised-button color="primary">Add New <i class="material-icons">
        add_circle
        </i></a>
    <a routerLink="/list-fit" mat-raised-button color="accent">View Fit <i class="material-icons">
        view_list
        </i></a>
  </div>
  
</div>

