$color: #fff;

h2 {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 20px;
  padding: 8px;
  text-align: left;
  img {
    width: 60px;
    margin-right: 16px;
  }
}
.box {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: $color;
  border-radius: 3px;
  width: calc(100% / 2 - 32px);
  float: left;
  padding: 16px;
  margin: 0px 16px 32px 16px;
  text-align: center;
  i {
    display: none;
  }
  a {
    margin: 0px 8px;
  }
}

.main-container {
  padding-top: 60px;
}

@media (max-width: 1024px) {
  .box {
    width: calc(100% / 2 - 32px);
  }
}

@media (max-width: 767px) {
  .box {
    width: calc(100% - 32px);
  }
}
