<div class="main-container">
    <mat-card class="mesure-form">
        <h2 class="main-title">Order Details</h2>  
        <div class="row order-details">
            <div class="col-sm-6">
                <p class="detail-box"><label>Order Id</label><span>:</span>{{orderData.cust_id}}</p>
                <p class="detail-box"><label>Order Date</label><span>:</span>{{orderData.order_date | date:'shortDate' }}</p>
                <p class="detail-box"><label>Completion Date</label><span>:</span>{{orderData.completation_date | date:'shortDate'}}</p>
                <h4>Measure</h4>
                <p class="detail-box"><label>Measurement In</label><span>:</span>{{orderData.measurement_in == 'Cm' ? 'Cm' :'Inch'}}</p>
                <p class="detail-box"><label>Body Fit</label><span>:</span>{{orderData.fit_size}}</p>
                <p class="detail-box"><label>Fabric Material</label><span>:</span>{{orderData.cloth_material}}</p>
                <p class="detail-box"><label>Fabric Measurement</label><span>:</span>{{orderData.cloth_measurement}}</p>   
                <p class="detail-box"><label>Taken By</label><span>:</span>{{orderData.order_taken_by}}</p>
                <p class="detail-box"><label>Tailor Name</label><span>:</span>{{orderData.tailor}}</p>
                <h4>Customer</h4>
                <p class="detail-box"><label>Name</label><span>:</span>{{orderData.user_name}}</p>
                <p class="detail-box"><label>Phone</label><span>:</span>{{orderData.phone_no}}</p>
                <h4>Price</h4>
                <p class="detail-box"><label>Price</label><span>:</span>{{orderData.price}}</p>
                <p class="detail-box"><label>Advance</label><span>:</span>{{orderData.advance}}</p>
                <p class="detail-box"><label>Balance</label><span>:</span>{{orderData.balance}}</p>
            </div>
            <div class="col-sm-6">
                <div class="product-detail">
                    <h4><strong>Product Name : </strong>{{orderData.category}}</h4>
                    <div class="measure-data"  *ngFor="let labelData of orderData.measure_data; let i = index">
                        <h5><strong>Label : </strong><i>{{labelData.label}}</i></h5>
                        <div class="measure-box"  *ngFor="let measure of labelData.measurements">
                            <label>{{measure.name}}</label>
                            <p>{{measure.value}}</p>
                        </div>
                    </div>
                </div> 
                <div class="row fabric-photo">
                    <div class="col-sm-6">
                        <label>Fabric Photo</label>
                        <p class="img"><img src="{{imgUrl}}public/ferbic_images/{{orderData.fabric_photo}}"></p>
                    </div>
                    <div class="col-sm-6">
                        <label>Design Photo</label>
                        <p class="img"><img src="{{imgUrl}}public/design_images/{{orderData.design_photo}}"></p>
                    </div>
                </div>
                
                
            </div>
        </div>
        <mat-grid-list cols="1" rowHeight="100">
            <mat-grid-tile>
                <h4>Remarks</h4>
                <p>{{orderData.remarks}}</p>
            </mat-grid-tile>
        </mat-grid-list>
        <p class="links">
            <a routerLink="/customer-invoice"
            queryParamsHandling="merge" [queryParams]="{ order: orderData.id }" mat-stroked-button color="primary">Customer Invoice</a>
            <a routerLink="/tailor-invoice"
            queryParamsHandling="merge" [queryParams]="{ order: orderData.id }" mat-stroked-button color="primary">Tailor Invoice</a>
        </p>
    </mat-card>
</div>