label {
  font-weight: bold;
}
h5,
h4 {
  margin: 10px 0px;
}

h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}
.heading23 {
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}
.product-detail {
  box-shadow: inset 0px 0px 5px #ddd;
  background: #f7fafd;
  padding: 16px;
}
.product-detail label {
  color: #f7fafd;
  font-weight: normal;
  background: #3f51b5;
  width: 100%;
}
.measure-data,
.product-detail {
  width: 100%;
  display: inline-block;
}
.measure-box {
  border: 1px solid #3f51b5;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
  background: #fff;
  float: left;
  width: 80px;
}
.measure-box p,
.measure-box label {
  margin: 0px;
}
p.img {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 184px;
  background: #f7fafd;
  border: 1px solid #ccc;
  padding: 8px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.detail-box {
  margin: 0px;
  label {
    width: 150px;
  }
  span {
    display: inline-block;
    width: 20px;
    text-align: left;
  }
}
.links a {
  margin: 0px 8px;
}
