<div class="container">
  <mat-card>
      <form [formGroup]="RegisterForm">
        <p class="sign-up">Sign Up</p>
       
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Full Name" name="name"  formControlName="name" >
                        </mat-form-field>
                    </div> 
                  <div class="form-group">
                      <mat-form-field>
                          <input matInput placeholder="Email" name="email"  formControlName="email" >
                      </mat-form-field>
                  </div>
                  <div class="form-group">
                      <mat-form-field>
                          <input type="password" matInput placeholder="Password" name="password"  formControlName="password" >
                      </mat-form-field>
                  </div> 
                  <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Phone Number" name="phone_number"  formControlName="phone_number" >
                    </mat-form-field>
                </div>
                
          <div class="form-group">
                  
              <button  mat-raised-button color="primary" (click)="register()">Register</button>
         </div>
         <p class="sign-in"><span>Already have an account?</span>
            <a  routerLink="/login">
            <span translate>Sign in</span>
          </a>
        </p>
         
      </form>
  </mat-card>
</div>