.mat-form-field {
  width: 100%;
}
.container {
  width: 80%;
  margin-left: 408px;
  margin-top: 100px;
}
.mat-card {
  background: white;
}
.sign-up {
  text-align: center;
  font-size: 27px;
  font-weight: 800;
}
.sign-in {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.sign-in a {
  color: #2196f3;
}
.mat-raised-button {
  width: 100%;
}
